/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */
	color: #CC00AA;
}

.jumbotron {
	height: 100%;
	min-height: 100%;
	position: relative;
	margin-bottom: 0px;
	background: none;
     margin: 0px;
     text-align: center;
}

.jumbotron:after {
     content:"";
     background: url("../images/testScreen.jpeg");
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;
}

.jumbotron p {
     color: #6e6e6e;
}

.navbar {
     margin-bottom: 0px;
}

.fixed-bottom {
     bottom: 0px;
     position: absolute;
     width:100vw;
     text-align: center;
}

.fixed-bottom:after {
     content:"";
     background: url("../images/testScreen.jpeg");
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;
}

.fixed-top {
     margin-bottom: 5vh;
}

.emoji-button{
    border-radius: 73px;
}

.project button {
     text-align: center;
     display: inline-flex;
     position: relative;
     width: 15vh;
     height: 15vh;
     border-radius: 73px;
     margin: 5px;
     -webkit-transition: opacity 1s ease-in-out;
     -moz-transition: opacity 1s ease-in-out;
     -o-transition: opacity 1s ease-in-out;
     transition: opacity 1s ease-in-out;
}

.project .tut-em {
     text-align: center;
     display: inline-flex;
     position: relative;
     width: 15vh;
     height: 15vh;
     border-radius: 73px;
     margin: 5px;
}

#song-down{
    font-size: 16px;
}

.faded{
     opacity: 0;
}

#project2 button{
    width: 20vh;
    height: 20vh;
}

.container{
     margin: 0px;
     padding: 0px;
     height: 100vh;
     width: 100vw;
     display: flex;
     flex-direction: column;
}

.project{
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
}

.topright {
    position: absolute;
    top: 8px;
    right: 16px;
    z-index: 1;
}

.topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    z-index: 1;
}

.right-justified{
     position: relative;
     min-width: 100px;
     background-color: #d7cfd2;
     text-align: right;
     padding-right: 10px;
     left: 45px !important;
}

.glyphicon.glyphicon-play {
		font-size: 1.5em;
}

.glyphicon.glyphicon-pause {
    font-size: 1.5em;
}
.glyphicon.glyphicon-forward {
	font-size: 1.5em;
}

.song-nav p {
	text-align: center;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 0%;
    width: 100%;
    text-align: center;
    margin-top: 0px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-align: center;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    top: 5px;
    font-size: 12px;
    text-align: center;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
		color: #FFFFFF;
		text-align: center;
}
/* Add a black background color to the bottom navigation */
.botnav {
    background-color: #333;
    overflow: hidden;
		color: #FFFFFF;
		text-align: center;
		bottom: 0px;
		position: absolute;
		width:100vw;
}


.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
    height: 100px;
}
.label {
    color: white;
    padding: 8px;
    font-family: Arial;
}
.success {background-color: #4CAF50;}
